
.mapContainer {
    bottom:  0;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
}

.info {
    color: white;
    background-color: rgba(0,0,0,0.5);
    border-radius: 30px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 99;
    padding: 10px;
}